* {
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

/*Variables*/
/*Imports*/
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.imagen-productos {
  width: 100%;
  height: 250px;
  border-radius: 5px; }

.nav-index {
  display: flex;
  background-color: black;
  justify-content: space-between;
  width: 100%; }
  .nav-index img {
    width: 100px;
    margin: 5px;
    margin-left: 15px; }
  .nav-index ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .nav-index ul li {
      margin: 15px;
      margin-bottom: 0px;
      color: white; }
      .nav-index ul li a {
        font-size: 17px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500; }

.menu-navegacion {
  display: flex;
  justify-content: space-between;
  border-right: 0px;
  border-left: 0px; }
  .menu-navegacion .nav-productos {
    display: flex;
    align-items: center;
    gap: 100px; }
    .menu-navegacion .nav-productos a {
      list-style-type: none;
      text-decoration: none;
      font-size: 35px;
      color: black;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      transition: 0.5s ease-in-out; }
      .menu-navegacion .nav-productos a:hover {
        color: #b57e18;
        transition: 0.5s ease-in-out;
        font-size: 38px; }
  .menu-navegacion a {
    list-style-type: none;
    text-decoration: none;
    font-size: 35px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.5s ease-in-out; }
    .menu-navegacion a:hover {
      color: #b57e18;
      transition: 0.5s ease-in-out;
      font-size: 38px; }

.slide .carousel-inner {
  width: 100%;
  height: 600px; }
  .slide .carousel-inner .carousel-item {
    height: 600px; }
    .slide .carousel-inner .carousel-item img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

.title {
  text-align: center;
  margin-bottom: 50px; }
  .title h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-top: 20px; }

/*Tarjetas*/
.main-colecciones {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .main-colecciones .title-main {
    margin-top: 20px;
    margin-bottom: 40px; }
    .main-colecciones .title-main h1 {
      color: black;
      text-align: center;
      font-size: 52px;
      font-weight: 200;
      letter-spacing: 2px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .main-colecciones .tarjetas-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .main-colecciones .tarjetas-main .tarjeta-1 {
      border: 5px solid black;
      box-shadow: 6px 6px 6px 6px #7f7d7d;
      border-radius: 10px;
      width: 100%;
      width: 420px; }
      .main-colecciones .tarjetas-main .tarjeta-1 img {
        width: 100%;
        border-radius: 5px; }
      .main-colecciones .tarjetas-main .tarjeta-1 h5 {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
    .main-colecciones .tarjetas-main .tarjeta-2 {
      border: 5px solid black;
      box-shadow: 6px 6px 6px 6px #7f7d7d;
      border-radius: 10px;
      width: 100%;
      width: 420px; }
      .main-colecciones .tarjetas-main .tarjeta-2 img {
        width: 100%;
        border-radius: 5px; }
      .main-colecciones .tarjetas-main .tarjeta-2 h5 {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
    .main-colecciones .tarjetas-main .tarjeta-3 {
      border: 5px solid black;
      box-shadow: 6px 6px 6px 6px #7f7d7d;
      border-radius: 10px;
      width: 100%;
      width: 420px; }
      .main-colecciones .tarjetas-main .tarjeta-3 img {
        width: 100%;
        border-radius: 5px; }
      .main-colecciones .tarjetas-main .tarjeta-3 h5 {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

/*Segunda seccion*/
.background {
  background-image: url(../img/main-marcas/imagen-fondo.jpg);
  background-attachment: fixed;
  /*Marcas*/
  /*Productos*/ }
  .background .marcas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3eded;
    margin-top: 60px;
    height: 200px; }
    .background .marcas .title-marcas h2 {
      font-size: 25px;
      font-weight: 200;
      color: #7a8a97;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
    .background .marcas .marcas-img {
      flex-wrap: wrap; }
      .background .marcas .marcas-img img {
        width: 130px;
        height: 80.5px; }
      .background .marcas .marcas-img .img-2 {
        width: 150px;
        height: 100px; }
  .background .productos {
    background-color: white;
    margin-top: 400px;
    padding-top: 60px; }
    .background .productos .titulo-productos h2 {
      margin-bottom: 50px;
      color: #4f4d4d;
      text-align: center;
      font-size: 52px;
      font-weight: 100;
      letter-spacing: 2px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
    .background .productos .productos-img {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 1900px;
      justify-content: space-evenly;
      gap: 5px;
      flex-wrap: wrap; }
      .background .productos .productos-img .card-one {
        width: 350px; }
        .background .productos .productos-img .card-one img {
          width: 100%; }
        .background .productos .productos-img .card-one h5 {
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: 400;
          color: black;
          margin-top: 20px; }
      .background .productos .productos-img .card-two {
        width: 350px; }
        .background .productos .productos-img .card-two img {
          width: 100%; }
        .background .productos .productos-img .card-two h5 {
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: 400;
          color: black;
          margin-top: 20px; }
      .background .productos .productos-img .card-three {
        width: 350px; }
        .background .productos .productos-img .card-three img {
          width: 100%; }
        .background .productos .productos-img .card-three h5 {
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: 400;
          color: black;
          margin-top: 20px; }
      .background .productos .productos-img .card-four {
        width: 350px; }
        .background .productos .productos-img .card-four img {
          width: 100%; }
        .background .productos .productos-img .card-four h5 {
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: 400;
          color: black;
          margin-top: 20px; }

/*Tercera secciones*/
.prendas {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
  padding-bottom: 50px;
  margin-top: 65px; }
  .prendas .title {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px; }
    .prendas .title h2 {
      color: white;
      font-size: 56px;
      font-weight: 300;
      letter-spacing: 3px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
    .prendas .title hr {
      height: 2px;
      background-color: #37414D;
      width: 100%;
      display: flex; }
  .prendas .contenido-prendas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto; }
    .prendas .contenido-prendas .prenda-1 {
      text-align: left; }
      .prendas .contenido-prendas .prenda-1 li {
        text-decoration: none;
        list-style-type: none;
        margin: 30px; }
        .prendas .contenido-prendas .prenda-1 li p {
          text-align: left;
          max-width: 305px;
          width: 100%;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-size: 18px;
          color: #818890; }
        .prendas .contenido-prendas .prenda-1 li h3 {
          color: white;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: 400; }
    .prendas .contenido-prendas .prenda-2 {
      text-align: left; }
      .prendas .contenido-prendas .prenda-2 li {
        text-decoration: none;
        list-style-type: none;
        margin: 30px; }
        .prendas .contenido-prendas .prenda-2 li p {
          text-align: left;
          max-width: 305px;
          width: 100%;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-size: 18px;
          color: #818890; }
        .prendas .contenido-prendas .prenda-2 li h3 {
          color: white;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: 400; }
    .prendas .contenido-prendas .prenda-3 {
      text-align: left; }
      .prendas .contenido-prendas .prenda-3 li {
        text-decoration: none;
        list-style-type: none;
        margin: 30px; }
        .prendas .contenido-prendas .prenda-3 li p {
          text-align: left;
          max-width: 305px;
          width: 100%;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-size: 18px;
          color: #818890; }
        .prendas .contenido-prendas .prenda-3 li h3 {
          color: white;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: 400; }

.imagen-footer {
  width: 100%;
  max-width: 1900px;
  height: 470px;
  z-index: 1; }
  .imagen-footer img {
    width: 100%;
    height: 100%; }

.seccion-2-zapas {
  margin-top: 100px; }
  .seccion-2-zapas h2 {
    color: #000000;
    font-size: 36px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700; }
  .seccion-2-zapas .lista-compras {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .seccion-2-zapas .lista-compras .tarjetas-compra {
      display: flex;
      align-items: center;
      justify-content: right;
      flex-wrap: wrap;
      padding-top: 50px;
      gap: 70px;
      max-width: 1700px;
      margin: auto; }
      .seccion-2-zapas .lista-compras .tarjetas-compra .card {
        height: 100%;
        width: 100%;
        border-color: #37414D; }
        .seccion-2-zapas .lista-compras .tarjetas-compra .card .card-body button {
          width: 120px;
          height: 30px;
          font-size: 20px;
          cursor: pointer;
          border: none;
          outline: none;
          background: transparent;
          color: black;
          font-family: 'Times New Roman', Times, serif;
          font-weight: 700;
          position: relative;
          transition: all 0.5s;
          z-index: 1; }
        .seccion-2-zapas .lista-compras .tarjetas-compra .card .card-body button::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 5px;
          height: 100%;
          background-color: #888888;
          z-index: -1;
          transition: all 0.5s; }
        .seccion-2-zapas .lista-compras .tarjetas-compra .card .card-body button:hover::before {
          width: 100%; }
        .seccion-2-zapas .lista-compras .tarjetas-compra .card .card-body button:hover {
          color: white; }
        .seccion-2-zapas .lista-compras .tarjetas-compra .card .card-body button:active:before {
          background: #b9b9b9; }
      .seccion-2-zapas .lista-compras .tarjetas-compra .columna {
        width: 270px;
        height: 400px; }

.seccion-3 {
  margin-top: 100px; }
  .seccion-3 h2 {
    color: #000000;
    font-size: 36px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700; }
  .seccion-3 .lista-compras {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .seccion-3 .lista-compras .tarjetas-camisetas {
      display: flex;
      align-items: center;
      justify-content: right;
      flex-wrap: wrap;
      padding-top: 50px;
      gap: 70px;
      max-width: 1700px;
      margin: auto; }
      .seccion-3 .lista-compras .tarjetas-camisetas .card {
        height: 100%;
        width: 100%;
        border-color: #37414D; }
        .seccion-3 .lista-compras .tarjetas-camisetas .card .card-body button {
          width: 120px;
          height: 30px;
          font-size: 20px;
          cursor: pointer;
          border: none;
          outline: none;
          background: transparent;
          color: black;
          font-family: 'Times New Roman', Times, serif;
          font-weight: 700;
          position: relative;
          transition: all 0.5s;
          z-index: 1; }
        .seccion-3 .lista-compras .tarjetas-camisetas .card .card-body button::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 5px;
          height: 100%;
          background-color: #888888;
          z-index: -1;
          transition: all 0.5s; }
        .seccion-3 .lista-compras .tarjetas-camisetas .card .card-body button:hover::before {
          width: 100%; }
        .seccion-3 .lista-compras .tarjetas-camisetas .card .card-body button:hover {
          color: white; }
        .seccion-3 .lista-compras .tarjetas-camisetas .card .card-body button:active:before {
          background: #b9b9b9; }
      .seccion-3 .lista-compras .tarjetas-camisetas .columnaCamisetas {
        width: 270px;
        height: 400px; }

.seccion-4 {
  margin-top: 150px; }
  .seccion-4 .head-carrito {
    font-size: 30px;
    text-align: center; }
    .seccion-4 .head-carrito h3 {
      font-size: 39px; }
    .seccion-4 .head-carrito .precio-carrito {
      font-size: 24px; }
  .seccion-4 .carrito {
    width: 1200px;
    margin: auto; }

.table tbody tr th .imagen-carrito {
  border: 1px solid black; }

.table tbody tr td {
  padding-top: 40px; }
  .table tbody tr td button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 11px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    margin-left: 100px; }
  .table tbody tr td button:hover {
    border: 1px solid white; }
  .table tbody tr td button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff; }

.title {
  padding-top: 100px; }
  .title h2 {
    color: #F66B0E;
    text-align: center; }

.inicio-sesion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee; }
  .inicio-sesion .title-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 768px;
    text-align: center;
    margin: 25px; }
    .inicio-sesion .title-footer h2 {
      font-size: 65px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: 200;
      margin-bottom: 15px; }
    .inicio-sesion .title-footer p {
      font-size: 26px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: 200;
      color: #7a8a97; }
  .inicio-sesion .form {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    max-width: 769px;
    margin: 0 auto;
    margin-top: 60px;
    width: 100%;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px; }
  .inicio-sesion .main_div {
    --color: #3992e6;
    margin: auto;
    position: relative;
    margin-bottom: 10px;
    z-index: 1; }
  .inicio-sesion .main_div::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    top: -7px;
    left: -7px;
    z-index: -5;
    border-top: 3px solid var(--color);
    border-left: 3px solid var(--color);
    transition: 0.5s; }
  .inicio-sesion .main_div::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    bottom: -7px;
    right: -7px;
    z-index: -5;
    border-right: 3px solid var(--color);
    border-bottom: 3px solid var(--color);
    transition: 0.5s; }
  .inicio-sesion .main_div:hover::before {
    width: 100%;
    height: 100%; }
  .inicio-sesion .main_div:hover::after {
    width: 100%;
    height: 100%; }
  .inicio-sesion .main_div button {
    padding: 0.7em 2em;
    font-size: 16px;
    background: #222222;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: inherit;
    width: 180px;
    height: 60px; }
    .inicio-sesion .main_div button a {
      text-decoration: none;
      color: white; }
  .inicio-sesion .email {
    max-width: 1000px;
    width: 100%;
    margin: 40px; }
    .inicio-sesion .email .titulos {
      display: flex;
      flex-direction: row;
      max-width: 800px;
      width: 100%;
      margin: 3px; }
      .inicio-sesion .email .titulos input {
        border-color: #3992E6;
        border-width: 0px 0px 1px 0px;
        font-size: 100%;
        font-size: 20px;
        color: black;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 100%;
        max-width: 1000px;
        padding-left: 10px;
        padding-bottom: 10px;
        outline: 0px; }
  .inicio-sesion .email-name {
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 40px; }
    .inicio-sesion .email-name .titulos {
      display: flex;
      flex-direction: row;
      max-width: 800px;
      width: 100%;
      margin: 3px; }
      .inicio-sesion .email-name .titulos input {
        border-color: #3992E6;
        border-width: 0px 0px 1px 0px;
        font-size: 100%;
        font-size: 20px;
        color: black;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 100%;
        max-width: 1000px;
        padding-left: 10px;
        padding-bottom: 10px;
        transition: color 0.25s;
        outline: 0px; }

.email-password {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: 40px; }
  .email-password .titulos {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    width: 100%;
    margin: 3px; }
    .email-password .titulos input {
      border-color: #3992E6;
      border-width: 0px 0px 1px 0px;
      font-size: 100%;
      font-size: 20px;
      color: black;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      width: 100%;
      max-width: 1000px;
      padding-left: 10px;
      padding-bottom: 10px;
      transition: color 0.25s;
      outline: 0px; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  footer .title-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 768px;
    text-align: center;
    margin: 25px; }
    footer .title-footer h2 {
      font-size: 65px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: 200;
      margin-bottom: 15px; }
    footer .title-footer p {
      font-size: 26px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: 200;
      color: #7a8a97; }
  footer .form {
    display: flex;
    flex-wrap: wrap;
    grid-column: auto;
    justify-items: center;
    align-items: center;
    max-width: 769px;
    margin: 0 auto;
    margin-top: 60px;
    width: 100%; }
    footer .form .email-name {
      display: flex;
      flex-direction: row;
      max-width: 1000px;
      width: 100%; }
      footer .form .email-name .titulos {
        display: flex;
        flex-direction: row;
        max-width: 800px;
        width: 100%;
        margin: 3px; }
        footer .form .email-name .titulos input {
          border-color: rgba(72, 72, 72, 0.351);
          border-width: 0px 0px 1px 0px;
          font-size: 100%;
          font-size: 20px;
          color: black;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          width: 100%;
          max-width: 1000px;
          padding-left: 10px;
          padding-bottom: 10px; }
    footer .form .casilla-mensaje {
      display: flex;
      flex-direction: column;
      width: 100%; }
      footer .form .casilla-mensaje .title {
        width: 100%; }
        footer .form .casilla-mensaje .title textarea {
          width: 100%;
          max-width: 1000px;
          border-color: rgba(72, 72, 72, 0.351);
          border-width: 0px 0px 1px 0px;
          font-size: 100%;
          font-size: 20px; }
