footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 768px;
        text-align: center;
        margin: 25px;
        h2 {
            font-size: 65px;
            font-family: $font-family;
            font-weight: 200;
            margin-bottom: 15px;
        }
        p {
            font-size: 26px;
            font-family: $font-family;
            font-weight: 200;
            color: #7a8a97;
        }
    }
    .form{
            display: flex;
            flex-wrap: wrap;
            grid-column: auto;
            justify-items: center;
            align-items: center;
            max-width: 769px;
            margin: 0 auto;
            margin-top: 60px;
            width: 100%;
            .email-name {
                display: flex;
                flex-direction: row;
                max-width: 1000px;
                width: 100%;
                .titulos{
                    display: flex;
                    flex-direction: row;
                    max-width: 800px;
                    width: 100%;
                    margin: 3px;
                    input {
                        border-color: rgba(72, 72, 72, 0.351);
                        border-width: 0px 0px 1px 0px;
                        font-size: 100%;
                        font-size: 20px;
                        color: black;
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
                        width: 100%;
                        max-width: 1000px;
                        padding-left: 10px;
                        padding-bottom: 10px;
                    }
                }
            }    
            .casilla-mensaje{
                display: flex;
                flex-direction: column;
                width: 100%;
                .title {
                    width: 100%;
                    textarea{
                        width: 100%;
                        max-width: 1000px;
                        border-color: rgba(72, 72, 72, 0.351);
                        border-width: 0px 0px 1px 0px;
                        font-size: 100%;
                        font-size: 20px;
                    }
                }
            }

        }
    }

    