
/*Tarjetas*/
.main-colecciones {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .title-main {
        margin-top: 20px;
        margin-bottom: 40px;
        h1{
            color: black;
            text-align: center;
            font-size: 52px;
            font-weight: 200;
            letter-spacing: 2px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }
    .tarjetas-main {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        @mixin tarjetas {
            border: 5px solid black;
            box-shadow: 6px 6px 6px 6px rgb(127, 125, 125);
            border-radius: 10px;
            width: 100%;
            width: 420px;
            img {
                width: 100%;
                border-radius: 5px;
            }
            h5 {
                text-align: center;
                font-size: 30px;
                font-weight: 400;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
        }
        .tarjeta-1 {
            @include tarjetas;
        }
        .tarjeta-2 {
            @include tarjetas;
           
        }
        .tarjeta-3 {
            @include tarjetas;
        }
    }
}

/*Segunda seccion*/
.background {
    background-image: url(../img/main-marcas/imagen-fondo.jpg);
    background-attachment: fixed;
    /*Marcas*/
    .marcas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f3eded;
        margin-top: 60px;
        height: 200px;
        .title-marcas {
            h2{
                font-size: 25px;
                font-weight: 200;
                color: #7a8a97;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
            }
        }
        .marcas-img {
            flex-wrap: wrap;
            img{
                width: 130px;
                height: 80.5px;       
            }
            .img-2 {
                width: 150px;
                height: 100px;     
            }
        }
    }
    /*Productos*/
    .productos {
        background-color: white;
        margin-top: 400px;
        padding-top: 60px;
        .titulo-productos {
            h2 {
                margin-bottom: 50px;
                color: rgb(79, 77, 77);
                text-align: center;
                font-size: 52px;
                font-weight: 100;
                letter-spacing: 2px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
        }
        .productos-img {
            display: flex;
            flex-direction: row;
            width: 100%;
            max-width: 1900px;
            justify-content: space-evenly;
            gap: 5px;
            flex-wrap: wrap;
            @mixin cards {
                width: 350px;
                img {
                    width: 100%; 
                }
                h5 {
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 400;
                    color: black; 
                    margin-top: 20px;
                }
            }
            .card-one {
               @include cards;
            }
            .card-two {
                @include cards;
            }
            .card-three {
                @include cards;
            }
            .card-four {
                @include cards;
            }
        }
    }
}

/*Tercera secciones*/

.prendas {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    padding-bottom: 50px;
    margin-top: 65px;
    .title {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        h2 {
            color: white;
            font-size: 56px;
            font-weight: 300;
            letter-spacing: 3px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
        }
        text-align: center;
        margin-top: 50px;
        hr {
            height: 2px;
            background-color: #37414D;
            width: 100%;
            display: flex;
        }
       
    }
    .contenido-prendas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        @mixin prendas {
            text-align: left;
            li {
                text-decoration: none;
                list-style-type: none;
                margin: 30px;
                p {
                    text-align: left;
                    max-width: 305px;
                    width: 100%;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 18px;
                    color: #818890;
                }
                h3 {
                    color: white;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 400;
                }
            }
        }
        .prenda-1 {
            @include prendas;
        }
        .prenda-2 {
            @include prendas;
        } 
        .prenda-3 {
            @include prendas;
        }
        
    }

}
.imagen-footer {
    width: 100%;
    max-width: 1900px;
    height: 470px;
    z-index: 1;
    img {
        width: 100%;
        height: 100%;
    }
}

//--------Seccion Productos 

//Seccion 2 (ZAPATILLAS)
.seccion-2-zapas{
    margin-top: 100px;
    h2{
        @include titles;
    }
    .lista-compras{
        background-color: #E1E5EA;
        display: flex;
        flex-direction: row;
        align-items: center;
        .tarjetas-compra {
            @include cards;
            .columna{
                width: 270px;
                height: 400px;
            }
        }
    }
}

//-----Seccion 3 (CAMISETAS)

.seccion-3{
    margin-top: 100px;
    h2{
        @include titles;
    }
    .lista-compras{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #E1E5EA;
        .tarjetas-camisetas{
            @include cards;
            .columnaCamisetas{
                width: 270px;
                height: 400px;
            }
        }
    }
}


//-----Seccion 4 (CARRITO)

.seccion-4{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 60px;
    .contenedor-compra{
        display: flex;
        align-items: center;
        .container{
            box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
            width: 800px;
            height: 360px;
            h2{
                color: black;
                text-align: center;
                font-size: 40px;
                font-weight: 300;
                letter-spacing: 2px;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
                margin-bottom: 50px;
            }
            button {
                /* Variables */
               --button_radius: 0.75em;
               --button_color: #e8e8e8;
               --button_outline_color: #000000;
               font-size: 12px;
               font-weight: bold;
               border: none;
               border-radius: var(--button_radius);
               background: var(--button_outline_color);
              }
              
              .button_top {
               display: block;
               box-sizing: border-box;
               border: 2px solid var(--button_outline_color);
               border-radius: var(--button_radius);
               padding: 0.75em 1.5em;
               background: var(--button_color);
               color: var(--button_outline_color);
               transform: translateY(-0.2em);
               transition: transform 0.1s ease;
              }
              
              button:hover .button_top {
                /* Pull the button upwards when hovered */
               transform: translateY(-0.33em);
              }
              
              button:active .button_top {
                /* Push the button downwards when pressed */
               transform: translateY(0);
              }
        }
        .form-control{
            outline: none;
            background-color: rgba(255, 255, 255, 0);
            border: 1px solid rgba(0, 0, 0, 0.422);
            border-left: 0px;
            border-top: 0px;
            border-right: 0px;
            border-radius: 0px;
        }
        
        h3{
            @include titles; 
        }
        .head-carrito{
            font-size: 30px;
            text-align: center ;
            background-color: #E1E5EA;
            .precio-carrito {
                font-size: 24px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
        }
        .carrito-compra{
            width: 1000px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 100px;
            .carrito {
                width: 100%;
                background-color: #E1E5EA;
                .table{
                    tbody{ 
                        tr{
                            td{
                                padding-top: 40px;
                                .imagen-carrito {
                                    border: 1px solid black
                                }
                                button {
                                    color: #090909;
                                    padding: 0.7em 1.7em;
                                    font-size: 11px;
                                    border-radius: 0.5em;
                                    background: #e8e8e8;
                                    border: 1px solid #e8e8e8;
                                    transition: all .3s;
                                    box-shadow: 6px 6px 12px #c5c5c5,
                                                -6px -6px 12px #ffffff;
                                    margin-left: 100px;
                                   }
                                   
                                   button:hover {
                                    border: 1px solid white;
                                   }
                                   
                                   button:active {
                                    box-shadow: 4px 4px 12px #c5c5c5,
                                                -4px -4px 12px #ffffff;
                                   }
                            }
                        }
                    }
                }
            }
        }
    }
}
    
.title{
    padding-top: 100px;
    h2{
        color: #F66B0E;
        text-align: center;
    }
}  

//Formulario inicio sesion

.inicio-sesion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eee;
    .title-footer{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 768px;
            text-align: center;
            margin: 25px;
            h2 {
                font-size: 65px;
                font-family: $font-family;
                font-weight: 200;
                margin-bottom: 15px;
            }
            p {
                font-size: 26px;
                font-family: $font-family;
                font-weight: 200;
                color: #7a8a97;
            }
        }
        .form{
            display: flex;
            flex-wrap: wrap;
            justify-items: center;
            align-items: center;
            max-width: 769px;
            margin: 0 auto;
            margin-top: 60px;
            width: 100%;
            background: #fafafa;
            border: 1px solid #ebebeb;
            box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
            }
            .main_div {
                    --color: #3992e6;
                    margin: auto;
                    position: relative;
                margin-bottom: 10px;
                    z-index: 1;
               }
               
               .main_div::before {
                content: '';
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    background: transparent;
                    top: -7px;
                    left: -7px;
                    z-index: -5;
                    border-top: 3px solid var(--color);
                    border-left: 3px solid var(--color);
                    transition: 0.5s;
               }
               
               .main_div::after {
                content: '';
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    background: transparent;
                    bottom: -7px;
                    right: -7px;
                    z-index: -5;
                    border-right: 3px solid var(--color);
                    border-bottom: 3px solid var(--color);
                    transition: 0.5s;
               }
               
               .main_div:hover::before {
                width: 100%;
                height: 100%;
               }
               
               .main_div:hover::after {
                width: 100%;
                height: 100%;
               }
               
               .main_div button {
                padding: 0.7em 2em;
                font-size: 16px;
                background: #222222;
                color: #fff;
                border: none;
                cursor: pointer;
                font-family: inherit;
                width: 180px;
                height: 60px;
                a{
                    text-decoration: none;
                    color: white;
                }
               }
            .email{
                max-width: 1000px;
                width: 100%;
                margin: 40px;
                .titulos{
                    display: flex;
                    flex-direction: row;
                    max-width: 800px;
                    width: 100%;
                    margin: 3px;
                    input {
                        border-color: #3992E6;
                        border-width: 0px 0px 1px 0px;
                        font-size: 100%;
                        font-size: 20px;
                        color: black;
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
                        width: 100%;
                        max-width: 1000px;
                        padding-left: 10px;
                        padding-bottom: 10px;
                        outline: 0px;
                        
                    }
                }
            }
            .email-name {
                display: flex;
                max-width: 1000px;
                width: 100%;
                margin: 40px;
                    .titulos{
                        display: flex;
                        flex-direction: row;
                        max-width: 800px;
                        width: 100%;
                        margin: 3px;
                        input {
                            border-color: #3992E6;
                            border-width: 0px 0px 1px 0px;
                            font-size: 100%;
                            font-size: 20px;
                            color: black;
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
                            width: 100%;
                            max-width: 1000px;
                            padding-left: 10px;
                            padding-bottom: 10px;
                            transition: color 0.25s;
                            outline: 0px;
                            
                        }
                        
                      }
                        
                    }
                }
            .email-password {
                display: flex;
                max-width: 1000px;
                width: 100%;
                margin: 40px;
                    .titulos{
                        display: flex;
                        flex-direction: row;
                        max-width: 800px;
                        width: 100%;
                        margin: 3px;
                            input {
                                border-color: #3992E6;
                                border-width: 0px 0px 1px 0px;
                                font-size: 100%;
                                font-size: 20px;
                                color: black;
                                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
                                width: 100%;
                                max-width: 1000px;
                                padding-left: 10px;
                                padding-bottom: 10px;
                                transition: color 0.25s;
                                outline: 0px;
                                
                            }
                            
                          }
                            
                        }


.botones{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

//Boton de proceder al pago

.cta {
    border: none;
    background: none;
}
   
.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 20px;
    padding-right: 15px;
    text-transform: uppercase;
    a{
        text-decoration: none;
        color: #000000;
    }
}
   
.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}
   
.cta:hover svg {
    transform: translateX(0);
}
   
.cta:active svg {
    transform: scale(0.9);
}
   
.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}
   
.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
   
.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
